

  .header__logo {
    margin-right: 93px;
    color: var(--main-text-color);
  }

  .logo__footer {    
    color: var( --text-button);
  }

  .logo-web {
    color: var(--accent-color);
}

.header__logo {
    align-items: center; 
}

.logo__footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;       
  letter-spacing: 0.03em;
  
}

.link .logo:hover{
  color: var(--accent-color);
}
.link .logo:focus{
  color: var(--accent-color);
}

.link .logo-footer:hover{
  color: var(--accent-color);
}
.link .logo-footer:focus{
  color: var(--accent-color);
}