

  .header__logo {
    margin-right: 93px;
    color: var(--main-text-color);
  }

  .logo-footer {    
    color: var( --text-button);
  }

  .logo-web {
    color: var(--accent-color);
}

.header__logo {
    align-items: center; 
}